# [Security]
config.py

# [Environments]
venv311/
.env
__pycache__/
*.pyc

# [Data & Storage]
data_storage/
*.parquet
*.pkl
*.db
*.csv
*.json
*.html

# [Models]
elite_weights/
*.zip

# [Logs & Temporary]
v*_logs/
old/
scratch/
.ipynb_checkpoints/

# [System Files]
.DS_Store
Thumbs.db
